html {
font-family: sans-serif;
/*removes serif*/
background-image:url(../assets/bg.jpg);
background-repeat: no-repeat;
background-size:cover;
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
}
/* begining of header*/

body{
  background-color: tgba(200,200,200,0.5)
}
.grid_col {
  font-size: 12px;
}

.navigation__socialnav {
  diplay: inline-block;
  text-align: right;
  .grid_col;
}
.navigation__socialnav--a {
  border-bottom-width:thick;
  border-bottom: 4px grey solid;
}
.navigation__pagenav{
 text-align: center;
 width: auto;
}
.navigation__pagenav--a{
  box-sizing: border-box;
  width: 248px

}

.sk8er {
  positon: relative
}
.sk8er__pointer {
  border: 5px;
  position:absolute;
  top: -150px;
  left: -150px;
}

.
